---
import Layout from '../layouts/Layout.astro';

---
<Layout title="Ashton Heald - Portfolio">
        <main class="">
            <section id="home" class="bg-neutral-700 h-screen min-[1600px]:h-[828px] grid items-center text-center lg:m-0 py-12 px-4">
                <h1>404</h1>
                <h2>Page Not Found</h2>
                <a class="btn" href="/" role="button">Go back Home</a>
            </section>
        </main>
</Layout>
