---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ashton Heald - Portfolio">
  <article class="grid h-full place-items-center">
    <div class="mb-28 grid place-items-center gap-2 md:gap-4">
      <h1
        class="text-center text-[2.5rem] font-semibold md:text-6xl lg:text-7xl"
      >
        404
      </h1>
      <h2 class="mb-4 text-center text-[1.5rem] md:text-3xl lg:text-4xl">
        Page Not Found
      </h2>
    </div>
  </article>
</Layout>
