---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Heading from "../components/Heading.astro";
import Form from "../components/Contact/Form";
import IconBtn from "../components/Contact/IconBtn.astro";

import SocialMenu from "../components/Contact/SocialMenu.astro";

---

<Layout title="Ashton Heald - Portfolio">
	<Heading heading="Contact" subheading="Feel free to contact me anytime" />
	<Title title="Send me a message!" />
	<div class="flex flex-col lg:flex-row gap-4 mt-2.5">
		<div class="flex-1">
			<div class="card bg-base-100 border border-base-300 w-full mb-3">
				<div class="card-body">
					<Form client:load />
				</div>
			</div>
			<div>
				<div>
					<Title title="Find me elsewhere!" />
					<SocialMenu />
				</div>
			</div>
		</div>
		<div class="w-full h-full lg:w-[292px] lg:h-[292px]">
			<iframe
			class="w-full h-full rounded-xl border border-base-300"
			src="https://www.openstreetmap.org/export/embed.html?bbox=-97.63669967651369%2C35.412417389224046%2C-97.41010665893556%2C35.53320409445092&amp;layer=mapnik"
			></iframe>
		</div>
	</div>
</Layout>