---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Heading from "../components/Heading.astro";
import Form from "../components/Contact/Form.astro";
import SocialMenu from "../components/Contact/SocialMenu.astro";
---

<Layout title="Ashton Heald - Portfolio">
  <Heading heading="Contact" subheading="Feel free to contact me anytime" />
  <Title title="Send me a message!" />
  <div class="mt-2.5 flex flex-col gap-4 lg:flex-row">
    <div class="flex-1">
      <div class="card mb-3 w-full border border-base-300 bg-base-100">
        <div class="card-body">
          <Form />
        </div>
      </div>
    </div>
    <div class="space-y-2">
      <div class="h-full w-full lg:h-[350px] lg:w-[350px]">
        <iframe
          class="h-full w-full rounded-xl border border-base-300"
          src="https://www.openstreetmap.org/export/embed.html?bbox=-97.66347885131837%2C35.42025165506909%2C-97.37680435180665%2C35.54773099635523&layer=mapnik"
        ></iframe>
      </div>
      <div class="pb-5 xl:pb-0">
        <Title title="Find me elsewhere!" />
        <SocialMenu />
      </div>
    </div>
  </div>
</Layout>
