---
import Layout from "../layouts/Layout.astro";
import Typewriter from "../components/Home/Typewriter";

const textSequence = [
  "Web Wizard",
  1500,
  "Code Craftsman",
  2000,
  "Javascript Jedi",
  1500,
];
---

<Layout title="Ashton Heald - Portfolio">
  <article class="grid h-full place-items-center">
    <div class="mb-28">
      <h1
        class="mb-2 text-center text-[2.5rem] font-semibold md:mb-8 md:text-6xl lg:mb-8 lg:text-7xl"
      >
        Ashton G. Heald
      </h1>
      <h2 class="text-center text-[1.5rem] md:text-3xl lg:text-4xl">
        <span> I'm a </span>
        <Typewriter textSequence={textSequence} client:load />
      </h2>
    </div>
  </article>
</Layout>
