---
const { heading, subheading } = Astro.props;
---

<div class="mb-2.5">
  <h1 class="text-3xl font-semibold lg:text-4xl">
    {heading}
  </h1>
  <h2 class="text-lg lg:text-xl">
    {subheading}
  </h2>
</div>
