---
const { path } = Astro.props;
---

<svg
  class="h-6 w-6"
  role="img"
  fill="currentColor"
  viewBox="0 0 24 24"
  xmlns="http://www.w3.org/2000/svg"
  ><title>LinkedIn</title><path d={path}></path></svg
>
