---
const { href, text, ariaLabel } = Astro.props;
---

<a
  href={href}
  aria-label={ariaLabel}
  class="link-hover link link-primary"
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
  <span>{text}</span>
</a>
